.container {
    position: relative;
    width: 800px;
    height: 800px;
}

#top {
    background-color: red;
    color: red;
    position: absolute;
    top: 400px;
    left: 400px;
}

#middle {
    background-color: blue;
    color: blue; 
    position: absolute;
    top:200px;
    left: 200px;
}

#bottom {
    background-color: yellow;
    color: yellow;
    position: absolute;
    top: 0px;
    left: 0px;
}

.box {
    width: 200px;
    height: 200px;
}
