body {
  font-family: "Poppins", Arial, sans-serif;
  background-color: #aff3f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #002b28;
}

h1 {
  color: #047570;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

input[type="number"],
input[type="text"] {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

button {
  background-color: #189c96;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0e5a56;
}

#fibonacciLbl {
  display: block;
  margin-top: 1rem;
  font-weight: italic;
  color: #002b28;
}

#backBtn {
  background-color: #189c96;
}

#backBtn:hover {
  background-color: #0e5a56;
}
