<header>
    <img src="/images/StarLion.png" alt="Logo" width="100" />
    <h2>My website with EJS</h2>

    <% if (typeof name !=="undefined" && name) { %>
        <p>Logged in as: <%= name %></p>
        <% } %>

            <hr>
</header>